.thirdform {
  display: flex;
  flex-direction: column;
  margin-top: 66px;
  margin-left: 110px;
  margin-right: 110px;
  width: auto;
}

.thirdform div {
  display: flex;
  flex-direction: row;
}

.firstform label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.thirdform textarea {
  margin-top: 8px;
  width: auto;
  height: 84px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 12px;
}

.tooltip {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.48);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tooltip_text {
  visibility: hidden;
  color: #5558fa;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}

.tooltip_tip:hover ~ .tooltip_text {
  visibility: visible;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: red;
  text-align: center;
  width: 123px;
}

@media screen and (max-width: 640px) {
  .thirdform {
    margin-left: 60px;
    margin-right: 60px;
  }
}
