.thirdform {
  display: flex;
  flex-direction: column;
  margin-top: 66px;
  margin-left: 110px;
  width: 300px;
}

.firstform label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.thirdform textarea {
  margin-top: 8px;
  width: 680px;
  height: 84px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 12px;
}

.tooltip {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.48);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  width: 20px;
}

.tooltip_text {
  visibility: hidden;
  color: #5558fa;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: red;
  margin-top: -20px;
  text-align: center;
}
