.main {
  background-color: #ffffff;
  border-radius: 24px;
  width: 900px;
  margin-top: 24px;

  display: flex;
  flex-direction: column;
}

.main_buttons {
  margin-bottom: 80px;
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
}

.modalBack {
  background: rgba(0, 0, 0, 0.16);
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  position: absolute;
  width: 460px;
  height: 312px;
  left: calc(50% - 522px / 2);
  top: calc(50% - 312px / 2 - 0.5px);
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

@media screen and (max-width: 935px) {
  .main {
    width: 600px;
  }

  .modal {
    width: 300px;
    left: calc(50% - 370px / 2);
  }
}

@media screen and (max-width: 640px) {
  .main {
    width: 390px;
  }

  .modal {
    width: 200px;
    left: calc(50% - 270px / 2);
  }
}

@media screen and (max-width: 430px) {
  .main {
    width: 425px;
  }
}

@media screen and (max-width: 390px) {
  .main {
    width: 375px;
  }
}

@media screen and (max-width: 330px) {
  .main {
    width: 320px;
  }
}
