.firstform {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  margin-left: 110px;
  width: auto;
  margin-left: 110px;
  margin-right: 110px;
}

.firstform input {
  margin-top: 8px;
  height: 22px;
  width: auto;
  max-width: 270px;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.firstform select {
  margin-top: 8px;
  height: 44px;
  width: auto;
  max-width: 295px;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.firstform label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.tooltip {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.48);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  width: 20px;
}

.tooltip_text {
  visibility: hidden;
  color: #5558fa;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}

.tooltip_text_big {
  visibility: hidden;
  color: #5558fa;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}

.tooltip_text_medium {
  visibility: hidden;
  color: #5558fa;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
}

.tooltip:hover .tooltip_text_big {
  visibility: visible;
}

.tooltip:hover .tooltip_text_medium {
  visibility: visible;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: red;
  margin-top: -20px;
}

@media screen and (max-width: 640px) {
  .firstform {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 330px) {
  .tooltip_text_big {
    margin-left: -25px;
  }

  .tooltip_text_medium {
    margin-left: -40px;
  }
}
